.breadcrumb-menu {
  position: absolute;
  top: 0;
  right: 2;

  &::before {
    display: none;
  }

  .btn {
    padding-top: 2;
    padding-bottom: 2;
  }

  .btn.btn-secondary {
    color: #CCC;
    border: 0;

    &:hover, &.active {
      color: #FCFCFC;
      background: transparent;
    }
  }

  .open {
    .btn.btn-secondary {
      color: #CCC;
      background: transparent;
    }
  }

  .dropdown-menu {
    min-width: 180px;
    line-height: 15;
  }
}
