.tag {
  display: inline-block;
  padding: .25em .4em .35em;
  font-size: 75%;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-align: center;
  vertical-align: baseline;

  &.tag-success {
    background: #AABBCC;
  }
  &.tag-default {
    background: #CCC;
  }
  &.tag-danger {
    background: #DDFFEE;
  }
}